.navbar {
    position: fixed;
    margin-top: -24px;
    background-color: white;
    z-index: 100;
}

#button:hover {
    background-color: yellow;
}

#button {
    background-color: #1c1564;
}

.main {
    background-color: #eef0ff;
    height: 80vh;
}

.Edzz {
    border: 2px solid #d0d8fc;
    color: #251e6b;
    width: 42%;
    background-color: #d0d8fc;
}

.img {
    /* width: 100%;
    margin-left: 200px; */
    animation: img 2s 2s 0.3s infinite alternate-reverse ease;
}

@keyframes img {
    from {
        margin-top: 30px;
    }

    to {
        margin-top: 0px;
    }

}


.Txt {
    background-color: #edefff;
    overflow: hidden;
}

.lineArrow:hover {
    color: blue;
    cursor: pointer;
}

.text1 {
    background-color: #1c1564;
    border: 0px;
    border-radius: 12px;
    height: 23vh;
}

.txt {
    border-bottom: 1px solid #fda186;
}

.txtNew1:hover {
    background-color: #1c1564;
    border: 0px;
    border-radius: 12px;
    height: 23vh;
    color: white;
}

.txtNew2:hover {
    background-color: #1c1564;
    border: 0px;
    border-radius: 12px;
    height: 23vh;
    color: white;
}

#imgEdit {
    border-radius: 7px;
    width: 100%;
    transition: all .6s;
}

#imgEdit:hover {
    margin-top: -20px;
}

.Box {
    height: 54vh;
    border-radius: 7px;
    box-shadow: 2px 2px 25px 5px rgb(245, 241, 241);
    position: relative;
    align-items: center;
    color: #1c1564;
}

.Box1 {
    height: 65vh;
    border-radius: 7px;
    box-shadow: 2px 2px 25px 5px rgb(245, 241, 241);
    align-items: center;
    color: #1c1564; 
}

.rome {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

#arrow {
    font-size: 20px;
    transition: all .5s;
    text-decoration: none;
    color: #9cb2d3;
}

#arrow:hover {
    font-size: 25px;
}

.boxNw {
    height: 54vh;
    border-radius: 7px;
    box-shadow: 2px 2px 25px 5px rgb(245, 241, 241);  
    align-items: center;
    color: #1c1564;
}

.link {
    text-decoration: none;
}

.vidImg {
    border-radius: 16px;
    height: 62vh;
    width: inherit;
}

.Switch {
    margin: auto;
    height: 65vh;
    width: 35%;
    border-radius: 7px;
    background-color: white;
    box-shadow: 2px 2px 25px 5px rgb(228, 225, 225);
}

#imgLin {
    border-bottom: 1px solid #d4d3e2;
}


@media screen and (max-width: 999px) {
    .img {
        width: 100%;
        margin-left: 10px;
        padding-top: 40px;
    }

    .Butn {
        display: none;
    }

    .edoZz {
        display: none;
    }

    .Edzz {
        width: 70%;
        margin: auto;
    }

    #button {
        margin-top: 10px;
    }

    .Switch {
        height: 54vh;
        width: 100%;
        border-radius: 7px;
        background-color: white;
        box-shadow: 2px 2px 25px 5px rgb(228, 225, 225);
    }

    .vidImg {
        border-radius: 16px;
        height: 62vh;
        width: 100%;
    }

    .switc {
        width: 50%;
    }
}